---
import MasterLayout from "../layouts/MasterLayout.astro";
import GradientText from "../components/GradientText.astro";
---

<MasterLayout title="About i-secure-solution">
  <div class="mt-10">
    <GradientText content="About i-Secure.Solution" />
    <p>
      Check <a href="/biography" class="text-blue-500 underline"
        >Chistopher Biography</a
      >
    </p>

    <div class="flex items-center justify-between mt-20">
      <img src="/assets/images/mission.png" alt="mission" class="h-96" />
      <div class="w-3/5">
        <h3 class="uppercase font-bold text-3xl">Mission</h3>
        <p class="mt-3">
          Our mission is to safeguard and protect organizations from evolving
          cyber threats by providing comprehensive and cutting-edge
          cybersecurity solutions. <br /><br />
          We strive to empower our clients with the knowledge, tools, and expertise
          needed to defend their digital assets, ensure business continuity, and
          maintain the trust of their stakeholders. <br /><br />
          Through proactive measures, continuous innovation, and a commitment to
          excellence, we aim to create a secure digital landscape where organizations
          can thrive without fear of cyber attacks.
        </p>
      </div>
    </div>

    <div class="flex items-center justify-between mt-20">
      <div class="w-3/5">
        <h3 class="uppercase font-bold text-3xl">VISION</h3>
        <p class="mt-3">
          Our vision is to be a globally recognized leader in cybersecurity,
          setting the standard for excellence and innovation in protecting
          digital ecosystems. <br /><br />
          We envision a world where organizations can embrace digital transformation
          with confidence, knowing that their data, systems, and intellectual property
          are secure. We aspire to forge strong partnerships with our clients, working
          collaboratively to build resilient and fortified defenses against cyber
          threats. <br /><br />
          By staying at the forefront of technological advancements and investing
          in our talented team, we strive to shape the future of cybersecurity and
          contribute to a safer digital environment for all.
        </p>
      </div>
      <img src="/assets/images/vision.png" alt="vision" class="h-96" />
    </div>

    <!-- Team -->

    <div class="mt-32">
      <GradientText content="The Team" />

      <div class="grid grid-cols-4 gap-3 gap-y-7">
        <div>
          <img src="../../public/assets/images/Team/CEO.avif" alt="CEO" />
          <h2 class="mt-2 font-semibold">
            Victor Sterling <br /><span class="font-normal">CEO</span>
          </h2>
        </div>
        <div>
          <img src="../../public/assets/images/Team/CTO.avif" alt="CEO" />
          <h2 class="mt-2 font-semibold">
            Ava Sullivan <br /><span class="font-normal">CTO</span>
          </h2>
        </div>
        <div>
          <img src="../../public/assets/images/Team/CFO.avif" alt="CEO" />
          <h2 class="mt-2 font-semibold">
            Benjamin Price <br /><span class="font-normal">CFO</span>
          </h2>
        </div>
        <div>
          <img src="../../public/assets/images/Team/CISO.jpg" alt="CEO" />
          <h2 class="mt-2 font-semibold">
            Isabella Reynolds <br /><span class="font-normal"
              >Chief Information Security Officer (CISO)</span
            >
          </h2>
        </div>
        <div>
          <img
            src="../../public/assets/images/Team/ChiefTechnologyOfficer.avif"
            alt="CEO"
          />
          <h2 class="mt-2 font-semibold">
            Liam Foster <br /><span class="font-normal"
              >Chief Technology Officer (CTO)</span
            >
          </h2>
        </div>
        <div>
          <img
            src="../../public/assets/images/Team/HeadofMarketing.avif"
            alt="CEO"
          />
          <h2 class="mt-2 font-semibold">
            Olivia Turner <br /><span class="font-normal"
              >Head of Marketing</span
            >
          </h2>
        </div>
        <div>
          <img
            src="../../public/assets/images/Team/SeniorDataAnalyst.avif"
            alt="CEO"
          />
          <h2 class="mt-2 font-semibold">
            Mia Thompson <br /><span class="font-normal"
              >Senior Data Analyst</span
            >
          </h2>
        </div>
        <div>
          <img
            src="../../public/assets/images/Team/SystemsAdministrator.avif"
            alt="CEO"
          />
          <h2 class="mt-2 font-semibold">
            Caleb Walker <br /><span class="font-normal"
              >Systems Administrator</span
            >
          </h2>
        </div>
      </div>
    </div>
  </div>
</MasterLayout>
