---
import MasterLayout from "../layouts/MasterLayout.astro";
import GradientText from "../components/GradientText.astro";
---

<MasterLayout title="About i-secure-solution">
  <div class="mt-10">
    <GradientText content="My Biography" />

    <div class="flex items-start justify-between mt-20">
      <img src="/assets/images/profile.jpg" alt="mission" class="h-96" />
      <div class="w-3/5">
        <h3 class="uppercase font-bold text-3xl">About Me</h3>
        <p class="mt-3">
          In the ever-evolving landscape of technology, there are individuals
          who stand out with their profound passion and drive to harness the
          power of information. Christopher Jay Potot, a second-year student
          pursuing a Bachelor of Science in Information Systems, who has emerged
          as a beacon of innovation and a catalyst for change. <br /><br />
          From a young age, Christopher exhibited an insatiable curiosity about technology.
          Fascinated by the interconnectedness of digital systems and their potential
          vulnerabilities, he voraciously consumed information on computer networks,
          encryption techniques, and emerging cybersecurity threats. This early passion
          set the stage for his future endeavors in the realm of information systems
          and cybersecurity. <br /><br />
          Driven by his passion for technology, Christopher decided to pursue a degree
          in Information Systems, recognizing its vital role in managing and securing
          digital assets. He embraced the multifaceted nature of the discipline,
          delving into coursework that covered databases, programming, systems analysis,
          and cybersecurity fundamentals.
        </p>
      </div>
    </div>
  </div>
</MasterLayout>
