---
import MasterLayout from "../layouts/MasterLayout.astro";
import GradientText from "../components/GradientText.astro";
import Button from "../components/Button.astro";
---

<MasterLayout title="About i-secure-solution">
  <div class="mt-10 text-center">
    <GradientText content="Thank you" />

    <h2 class="max-w-3xl text-2xl mx-auto mb-14">
      We are glad that you have chosen to avail of our great services. <br />
      Don’t worry! At i-security.solution, YOU ARE SAFE!!!
    </h2>

    <Button link="/" content="Go back to Home" />
  </div>
</MasterLayout>
