---
import { Icon } from "astro-icon";
---

<a
  href="#"
  class="py-2.5 font-semibold px-5 border hover:shadow-2xl hover:shadow-white/50 hover:bg-white hover:text-custom-bg uppercase flex items-center space-x-3"
>
  <span>Add to Cart</span>
  <Icon pack="mdi" name="cart" class="h-7 hover:text-custom-green" />
</a>
