---
import { Icon } from "astro-icon";
---

<header class="flex items-center justify-between">
  <a href="/" class="font-semibold text-2xl">
    i-secure<span class="text-custom-green">.</span>solution
  </a>

  <nav class="flex items-center justify-between space-x-12 py-7">
    <a href="/" class="hover:text-custom-green">Home</a>
    <a href="/services" class="hover:text-custom-green">Services</a>
    <a href="/about" class="hover:text-custom-green">About Us</a>
    <a
      href="/cart"
      class="relative before:absolute before:h-3 before:w-3 before:rounded-full before:bg-custom-green before:right-0 before:-top-3"
      ><Icon pack="mdi" name="cart" class="h-6 hover:text-custom-green" /></a
    >
    <a
      href="/contact-us"
      class="hover:text-custom-green bg-white py-1.5 px-4 text-custom-bg"
      >Contact
    </a>
  </nav>
</header>
